.session-status {
  display: grid;
  grid-gap: 1vh;
  margin: 1vh;
}

.login-status,
.time-status {
  color: var(--textColour);
  background-color: var(--background);
  border-radius: var(--radius);
  padding: 1vh;
  font-size: small;
}
