.show-raceinfo {
  display: grid;
  grid-gap: 1vh;
  margin: 1vh;
}
.show-raceinfo-title,
.show-raceinfo-detail {
  color: var(--textColour);
  background-color: var(--background);
  border-radius: 1.5vh 1.5vh;
  padding: 1vh;
}

.show-raceinfo-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vh;
  font-size: small;
}
