:root {
  --primary: rgb(68, 68, 233);
  --secondary: white;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.page-header {
  display: grid;
  justify-content: center;
  color: var(--secondary);
}
