.show-raceinfo {
  display: grid;
  grid-gap: 1vh;
  margin: 1vh;
  overflow-x: clip;
}
.show-raceinfo-title,
.show-raceinfo-detail {
  color: var(--textColour);
  background-color: var(--background);
  border-radius: var(--radius);
  padding: 1vh;
  overflow-x: clip;
}

.show-raceinfo-title h2 {
  white-space: nowrap;
  color: var(--textColour2);
}

.show-raceinfo-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vh;
}
