.show-runners {
  display: grid;
  grid-template-columns: 2.5fr 2fr;
  grid-gap: 1vh;
  margin: 1vh;
}

.dividends {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.runners,
.dividends {
  color: var(--textColour);
  background-color: var(--background);
  border-radius: var(--radius);
  padding: 1vh;
}

.runners ol,
.dividends ol {
  list-style-type: none;
}

.li-margin {
  margin: var(--rowMargin) 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.runner-margin {
  text-indent: 10%;
  color: var(--textColour2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
