/* Main App css, focused on formatting containers and page layout not react component specific css.

There are four main css containers contained within the 'body' container:
1. header   contains: Application Header.
2. raceday  contains: RaceSelector, RaceInfo and SessionStatus
3. races    contains: Runners, DividendInfo, Dividend, RacePools
4. results  contains: RaceBettingPools, RaceResults, RaceStatus
 */

:root {
  --background: rgb(68, 65, 65);
  --primary: rgb(32, 32, 36);
  --textColour: rgb(236, 230, 230);
  --textColour2: rgb(242, 245, 98);
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --radius: 1vh;
  --rowMargin: 0.5vh;
}

/* Remove default padding and margin on all elements */
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--background);
}

.container {
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  padding: 1%;
  grid-template-rows: 0.5fr 1.5fr 5fr 1.75fr;
  grid-gap: 1% 1%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background);
  color: var(--textColour);
}

.header {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--primary);
}

.raceday {
  overflow-y: auto;
  display: grid;
  background-color: var(--primary);
}

.races {
  overflow-y: auto;
  display: grid;
  background-color: var(--primary);
}

.results {
  overflow-y: auto;
  display: grid;
  background-color: var(--primary);
}

/* Media breakpoint for screen widths larger then average mobile screen */
@media only screen and (min-width: 38rem) {
  .raceday {
    grid-template-columns: 1fr 3fr 2fr;
  }

  .races {
    grid-template-columns: 1.5fr 2fr 1fr;
  }

  .results {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
