/* Main App css, focused on formatting containers and page layout not react component specific css.

There are four main css containers contained within the 'body' container:
1. header   contains: Application Header.
2. raceday  contains: RaceSelector, RaceInfo and SessionStatus
3. races    contains: Runners, DividendInfo, Dividend, RacePools
4. results  contains: RaceBettingPools, RaceResults, RaceStatus
 */

:root {
  --primary: rgb(68, 68, 233);
  --secondary: white;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
  margin: 0;
}

.container {
  /* margin: 0 auto; */
  display: grid;
  font-family: Helvetica, Arial, sans-serif;
}
.header {
  background-color: var(--primary);
}
.raceday {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: darkkhaki;
}
.races {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: cadetblue;
}
.results {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: darkcyan;
}
