.race-pools {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 1vh;
  margin: 1vh;
}

.pool,
.pool-total {
  color: var(--textColour);
  background-color: var(--background);
  /* font-size: small; */
  border-radius: var(--radius);
  padding: 1vh;
}

.race-pools ol,
.pool-total ol {
  list-style-type: none;
}

.race-pools li,
.pool-total li {
  margin: var(--rowMargin) 0 0 0;
}
